* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    z-index: 100;
}

a {
    text-decoration: none;
}

.top-section {
    background-color:#0f1416;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editor-selector,
.control-btns * {
    background-color:#4b4b4b;
    color: #fff;
    outline: none;

}

.editor-selector {
    display: inline-block;
    padding: .75rem 2rem;
    border-right: 1px solid #fff;
}

.control-btns * {
    border-radius: 10px;
    padding: .4rem .8rem;
    border: 1px solid #fff;

    &:first-child {
        margin-right: 10px;
    }
}

.selected {
    background-color: #263238;
}

.document {
    height: 100%;
    width: 100%;
    grid-row: 2;
    border: none;
}

button {
    cursor: pointer;
}